*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
#bulb{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid black;
}
button{
    padding: 15px 30px;
    font-size: 20px;
    margin: 50px 80px;
}